.header {
    background-color: transparent;
    padding: 13px 0;
    color: #fff;
    border-bottom: 2px solid #dddddd80;
}
.short-intro {
    text-align: center;
    margin: 70px 0;
    color: #fff;
    position: relative;
}

.container {
    padding-top: 40px;
    width: 100%;
    background-color: #f1f5f7;
}
.products {
    margin: 20px 0;
}
.footer {
    padding-top: 40px;
    background-color: #21272b;
    color: #dae1e7;
}