/*
* All the css related to reseting the
* default behavior of tags will be 
* overriden here.
*/

* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #2f8be5;
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}