@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.max-width-wrapper {
    max-width: 1172px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: auto auto;
}
.blue-btn, .gray-btn {
    background-color: #2f8be5;
    display: inline-block;
    color: #fff;
    padding: 10px 13px;
    border-radius: 3px;
}
.blue-btn:hover, .gray-btn:hover {
    color: #fff;
}
.gray-btn {
    background-color: #85919d;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mt-5 {
    margin-top: 5px;
}
.green-text {
    color: #2aa461;
}
.red-text {
    color: #ea4f4f;
}
.text-center {
    text-align: center;
}


/**Header */
.header-intro-wrapper {
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/top-bg.png);
    background-size: cover;
}
#goto-top {
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f1f5f7;
    box-shadow: 0 0 2px #999;
    color: #c9d1d7;
    font-size: 2rem;
    border-radius: 3px;
    z-index: 10;
}
.logo {
    font-size: 1.5rem;
    font-weight: 700;
    vertical-align: middle;
    display: inline-block;
}
.logo img {
    margin-right: 10px;
    width: 30px;
}
.logo div {
    display: inline-block;
    margin-top: 10px;
}
.desktop-nav {
    display: none;
}
.desktop-nav li{
    list-style-type: none;
    display: inline-block;
}
.desktop-nav li a{
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding: 13px 14px;
    position: relative;
}
.nav-link:after{
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: inline-block;
    position: absolute;
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.nav li a:hover:after, .nav li a:hover {
    color: #fff;
    text-decoration: none;
    transform: scaleX(1);
}
.border-right {
    border-right: 1px solid #666;
}
.nav li a.cart {
    padding:  10px ;
    position: relative;
    top: 3px;
}
.nav li a.blue-btn {
    padding:  8px 20px ;
}
.cart-count {
    float: right;
    border-radius: 50%;
    background-color: #676b6e;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: -2px;
}
.mbl-nav {
    float: right;
}
#ham-icon {
    margin-top: 12px;
    top: 12px;
    right: 15px;
    cursor: pointer;
    position: fixed;
    z-index: 11;
}

#ham-icon span {
    display: block;
    width: 35px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #fff;
    z-index: 1;
    transform: rotate(0deg);
    transition: all 0.5s ease;
    transform-origin: left center;
    top: 0;
}
#ham-icon.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 20px;
}
#ham-icon.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}
#ham-icon.open span:nth-child(3) {
    transform: rotate(45deg);
    top: -20px;
}
.mbl-nav-content {
    width: 100%;
    max-width: 320px;
    position: fixed;
    height: 100%;
    z-index: 10;
    right:  0;
    top: 0;
    background-color: #555555;
    box-shadow: -2px 0 2px #333;
    transform: scaleX(0);
    padding-top: 70px;
    transition: all 0.3s;
    transform-origin: top right;
}
.mbl-nav-content li {
    list-style-type: none;
}
.mbl-nav-content li a {
    font-size: 1.2rem;
    color: #fff;
}
.mbl-nav-content .nav-link {
    display: block;
    padding: 30px;
}
.mbl-nav-content .nav-link:hover {
    background-color: #2f8be5;
    text-decoration: none;
    color: #fff;
}
.mbl-nav-top {
    padding: 30px;
    border-bottom: 1px solid #666;
}
.mbl-nav-top  a{
    float: left;
    margin-right: 20px;
}


/* Short Intro */
.heading {
    font-size: 2.3rem;
    font-weight: 700;
    padding: 25px;
    text-align: center;
    margin: auto auto;
}
.sub-heading {
    margin-bottom: 25px;
}
.links > div {
    display: inline-block;
    padding: 0 2px;
}
.search-box {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: absolute;
    box-sizing: border-box;
    bottom: -90px;
    border-radius: 3px;
    background-color: #fff;
    color: #999;
    box-shadow: 0 0 3px #999;
}
.search-site {
    float: left;
    color: #555;
    /* width: 109px; */
    width: 89px;
    border-right: 1px solid #ddd;
}
.search-input-wrapper {
    position: relative;
    height: 40px;
    /* width: calc(100% - 200px); */
    width: calc(100% - 140px);
}
.search-icon {
    position: absolute;
    /* left: 15px; */
    left: 5px;
}
.search-input {
    /* padding-left: 40px; */
    padding-left: 30px;
    height: 100%;
    width: 100%;
    border: 0;
    outline: none;
}
.search-btn {
    background-color: #2f8be5;
    border: 0;
    float: right;
    height: 40px;
    /* width: 90px; */
    width: 50px;
    color: #fff;
    cursor: pointer;
}

/*Container */

.filter-by-text {
    float: left;
    text-transform: uppercase;
    color: #999;
    padding: 10px 0;
    margin-right: 20px;
}
.filter-by-links {
    float: left;
}
.filter-by-link {
    background-color: #d9e1e7;
    display: inline-block;
    padding: 10px 13px;
    border-radius: 3px;
    margin: 0 2px 5px 0;
}
.filter-by-link.active, .filter-by-link:hover {
    color: #fff;
    background-color: #2f8be5;
}

/* Products */
.row {
    margin: 0 -15px;
}
.col {
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 0 15px;
    float: left;
}
.product-card {
    display: block;
    max-width: 370px;
    box-shadow: 0 0 3px #dae0e7;
    margin: auto auto;
}
.card-image {
    cursor: pointer;
    width: 100%;
    height: 276px;
    border-radius: 4px 4px 0 0 ;
}
.card-image-wrapper {
    position: relative;
}
.card-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transform: scaleY(0);
    transform-origin:  top ;
    transition: all 0.5s ease 0s;
}
.card-image-wrapper:hover .card-image-hover {
    transform: scaleY(1);
}
.download-like {
    background-color: #ebebeb;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    padding: 7px 11px;
    margin: 7px 0 0 7px;
}
.download-like >span:last-child {
    margin-left: 15px;
}
.download-like i {
    margin-right: 7px;
}
.card-hover-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-hover-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}
.card-hover-links a:last-child {
    background-color: #2f8be5;
    margin: 0;
}
.card-hover-links a img {
    vertical-align: middle;
}
  
.card-content{
    padding: 10px 25px;
    background-color: #fff;
    border-radius:  0 0 4px 4px;
}
.card-body {
    height: 110px;
    padding-bottom: 15px;
    overflow: hidden;
}
.card-header {
    font-size: 1.3rem;
    font-weight: 700;
    display: inline-block;
    padding: 10px 0;
}
.card-header:hover {
    color:#2f8be5 ;
    text-decoration: underline;
}
.card-desc {
    font-size: 1.3rem;
    line-height: 1.7rem;
}
.card-credit {
    border-top: 1px solid #f1f1f1;
    padding: 15px 5px;
    color: #86919d;
}
.card-cost {
    padding: 7px 11px;
    background-color: #f1f5f8;
    border-radius: 3px;
}
.free {
    width: 47px;
    height: 28px;
    text-align: center;
    background-color: #2aa461;
    color: #fff;
    line-height: 28px;
    border-radius: 3px;
}
.card-author {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}
.card-author a{
    color: #86919d;
}
.load-more-wrapper {
    width: 100%;
    margin: 60px  auto;
    text-align: center;
}
#load-more {
    display: table;
    display: inline-block;
    background-color: #d9e1e7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    position: relative;
    line-height: 50px;
    /* vertical-align: middle; */
}
#load-more>span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    background: #85919d;
    border-radius: 50%;
}
#load-more>span:nth-child(2) {
    width: 6px;
    height: 6px;
    margin-right: 2px;
    margin: 0 1px 1px 0;
    background: #9aa5b0;
}
#load-more>span:last-child {
    width: 4px;
    height: 4px;
    margin: 0 0 2px 0;
    background: #afb9c2;
}

/* Pricing plans */
.pricing-plan-wrapper { 
    margin: 40px 0;
}
.title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0;
}
.sub-title {
    text-align: center;
    font-size: 1.2rem;
    color: #86919d;
    margin: 15px 0;
}
.pricing-plans-container {
    width: 100%;
    padding: 10px 0;
}
.pricing-card {
    background-color: #fff;
    border-radius: 4px;   
    padding: 40px 30px;
    box-shadow: 0 0 2px #dae0e7;
}
/* If pricing card contains .has-banner class */
.pricing-card.has-banner {
    position: relative;
    top: -20px;
    padding: 60px 30px;
}
.pricing-card.has-banner:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 20px;
    left: -5px;
    height: 38px;
    background: url(../images/ribbon.png) no-repeat;
}
.card-heading {
    font-size: 1.5rem;
    font-weight: 700;
}
.card-subheading {
    color: #86919d;
    margin: 18px 0;
    font-size: 1.1rem;
}
.card-price {
    margin: 20px 0;

}
.card-price>span {
    color: #2f8be5;
    font-size: 1.2rem;
}
.card-price>span:nth-child(2) {
    color: #2f8be5;
    font-size: 2.7rem;
    font-weight: 700;
}
.card-price>span:first-child {
    vertical-align: top;
    font-size: 1.7rem;
}
.card-lists li {
    padding: 18px;
    list-style: none;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    color: #454545;
}
.card-lists li:last-child {
    border-bottom: 0;
}
.card-lists li i {
    position: absolute;
    left: 0;
    color: #a2adb8;
}
.card-btn {
    width: 100%;
    background-color: #2f8be5;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 3px;
    padding: 16px 0;
    font-size: 1.1rem;
    margin: 16px 0;
}
.card-btn:hover {
    color: #fff;
}


/* Join Us */
.join-us-wrapper {
    padding: 60px 0;
    background: url(../images/join-us-bg.png);
    background-size: cover;
}
.join-box {
    max-width: 573px;
    margin: 30px auto;
    position: relative;
    height: 40px;
}
.join-input {
    max-width: 460px;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    border-right: calc(113px + 15px);
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    outline: none;
}
.join-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 113px;
    height: 100%;
    border-radius: 0 3px 3px 0;
}
.note {
    color: #86919d;
    margin: 5px 0;
}

/* Testinomials */
.testimonials-wrapper {
    padding: 60px 0;
    padding-bottom: 30px;
    background-color: #f1f5f7;
}
.testimonials-content .col {
    width: 100%;
}
.text-bubble-wrapper {
    background-color: #fff;
    box-shadow: 0 0 3px #85919d;
    max-width: 570px;
    padding: 20px 50px;
    box-sizing: border-box;
    height: 210px;
    border-radius: 3px;
    position: relative;
}
.text-bubble-wrapper:before {
    content: '';
    position: absolute;
    bottom: -19px;
    width: 20px;
    height: 40px;
    transform: rotate(63deg);
    background-color: #fff;
    box-shadow: 2px 2px 2px #ddd;

}
.text-bubble {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.said {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-style: italic;
    font-size: 1.25rem;
    color: #666;
    transform: translate(-0, -50%);
}
.said-by {
    padding: 30px 10px;
}
.said-by-pp img {
    padding: 5px;
    border-radius: 50%;
    background-color: #d9e1e7;
}
.said-by-detail {
    margin-left: 90px;
}
.said-by-name {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 12px 0;
}
.said-by-proff {
    margin: 12px 0;
    color: #a2adb8;
}

/* Learn eboooks */
.extra-wrapper {
    padding: 60px 0;
    background-color: #fff;
}
.extra-btn {
    border-radius: 3px;
    background-color: #2f8be5;
    padding: 15px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-top: 20px ;
}
.extra-btn:hover {
    color: #fff;
}


/* Footer */
.footer .row {
    margin: 0 -15px;
}
.footer .col {
    width: 50%;
}
.footer-head {
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}
.footer-desc-nolink {
    margin: 10px 0;
    line-height: 1.5rem;
}
.footer-content li {
    list-style-type: none;
}
li a {
    color: #dae1e7;
    padding: 10px 10px 10px 0;
    display: block;
}
li a:hover {
    text-decoration: underline;
    color: #dae0e7;
}

.footer .join-box {
    height: 30px;
}
.footer .join-input {
    height: 30px;
    padding: 0 7px;
    border-right: calc(60px + 7px);
}
.footer .join-btn {
    width: 60px;
}

.border-bottom {
    border-bottom: 1px solid #383d41;
}
.footer-bottom {
    box-shadow: -1px 0 1px #555;
    padding: 25px 0;
    width: 100%;
    margin-top: 50px;
}
.copyright {
    float: left;
    margin-top: 10px;
}
.footer-bottom li {
    list-style-type: none;
    display: inline-block;
}
.footer-bottom a {
    display: inline-block;
}

@media screen and (min-width: 480px) {
    .search-site {
        width: 109px;
    }
    .search-input-wrapper {
        width: calc(100% - 200px);
    }
    .search-icon {
        position: absolute;
        left: 15px;
    }
    .search-input {
        padding-left: 40px;
    }
    .search-btn {
        width: 90px;
    }
    .col {
        width: 50%;
    }
    .testimonials-content .col {
        width: 100%;
    }
    
}
@media screen and (min-width: 760px) {
    .mbl-nav {
        display: none;
    }
    .desktop-nav {
        display: block;
    } 
    .testimonials-content .col {
        width: 50%;
    }
    .footer .col {
        width: 25%;
    }

}
@media screen and (min-width: 1024px) {
    .col {
        width: 33.33%;
    }

}